<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <a href="/about?color=blue">About (Blue)</a><br>
    <a href="/about?color=orange">About (Orange)</a><br>
    <a href="/cat/1">Cat 1</a><br>
    <a href="/cat/2">Cat 2</a><br>
    <a href="/cat/3">Cat 3?</a><br>
    <a href="/dne">Broken Link (goes to 404 page)</a><br>
    <a href="/contact">Contact Form</a><br>
    <a href="/createUser">Create User</a><br>
    <a href="/login">Login</a><br>
    <a href="/loggedin">Logged In Page</a><br>
    <a href="/nosql-injection">NoSQL Injection Example</a><br>
    <a href="/logout">Logout</a><br>
</body>
</html>    